#start {
    width: 640px;
    height: 320px;
    outline: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
}
